{% extends '@SonataAdmin/CRUD/base_show_field.html.twig' %}
{% block    field %}
    <img src="img/{{ object.photo }}">
    <strong>
        <i>
            {{ object.Alias }}
        </i>
    </strong>
{% endblock %}
