{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}
{% block    field %}
    <strong>
        <a>
            {{ object.TypeAssistanceVehicle.name }}
            <span class="label label-primary">
                <i class="fa {{ object.TypeAssistanceVehicle.icon }}" aria-hidden="true"></i>
            </span>
        </a>
    </strong>
{% endblock %}
