{# @App/Admin/inner_row_comment.html.twig #}

{# Extend the default template, which provides batch and action cells #}
{#     as well as the valid colspan computation #}
{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}
{% block    field %}
    <strong>
        <i class="fa {{ object.fontAwesome }}" aria-hidden="true"></i>
    </strong>
{% endblock %}


