<div id="cms-block-{{ block.id }}" class="cms-block cms-block-element col-md-3">
    <div class="small-box {{ settings.css_class }}">
        <div class="inner">
            <h3>{{ count }}</h3>

            <p>{{ settings.title }}</p>
        </div>
        <div class="icon">
            <i class="fa {{ settings.icon }}"></i>
        </div>
    </div>
</div>