{% extends sonata_block.templates.block_base %}

{% block block %}
    <h3 class="sonata-feed-title">CountCars</h3>
    <div class="sonata-feeds-container">
        <div>
            <strong><a>CountCats</a></strong>
            <div>1</div>
        </div>
    </div>
{% endblock %}