{# @App/Admin/inner_row_comment.html.twig #}

{# Extend the default template, which provides batch and action cells #}
{#     as well as the valid colspan computation #}
{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}
{% block    field %}
{#{{ object.statusassigment }}#}
    {% if object.statusassigment  == 'ALTA' %}
        <span class="label label-primary">
            <strong>{{ object.statusassigment }}</strong>
        </span>
    {% endif %}
    {% if object.statusassigment  == 'PROCESO' %}
        <span class="label label-warning">
            <strong>{{ object.statusassigment }}</strong>
        </span>
    {% endif %}
    {% if object.statusassigment  == 'CONTACTO' %}
        <span class="label label-info">
            <strong>{{ object.statusassigment }}</strong>
        </span>
    {% endif %}
    {% if object.statusassigment  == 'TERMINO' %}
        <span class="label label-success">
            <strong>{{ object.statusassigment }}</strong>
        </span>
    {% endif %}
    {% if object.statusassigment  == 'MUERTO' %}
        <span class="label label-danger">
            <strong>{{ object.statusassigment }}</strong>
        </span>
    {% endif %}
    {% if object.statusassigment  == 'OTRO' %}
        <span class="label label-primary">
            <strong>{{ object.statusassigment }}</strong>
        </span>
    {% endif %}
{% endblock %}


