{# @App/Admin/inner_row_comment.html.twig #}

{# Extend the default template, which provides batch and action cells #}
{#     as well as the valid colspan computation #}
{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block    field %}
{#{{ object.statuspay }}#}
    {% if object.statuspay  == 'PENDIENTE' %}
        <span class="label label-danger">
            <strong>{{ object.statuspay }}</strong>
        </span>
    {% endif %}
    {% if object.statuspay  == 'SIN VALE' %}
        <span class="label label-warning">
            <strong>{{ object.statuspay }}</strong>
        </span>
    {% endif %}
    {% if object.statuspay  == 'FACTURADO' %}
        <span class="label label-info">
            <strong>{{ object.statuspay }}</strong>
        </span>
    {% endif %}
    {% if object.statuspay  == 'PAGADO' %}
        <span class="label label-success">
            <strong>{{ object.statuspay }}</strong>
        </span>
    {% endif %}
    {% if object.statuspay  == 'OTRO' %}
        <span class="label label-default">
            <strong>{{ object.statuspay }}</strong>
        </span>
    {% endif %}
{% endblock %}