{% extends '@SonataAdmin/standard_layout.html.twig' %}
{% block content %}
    <div class="row">
        {{ sonata_block_render({ 'type': 'admin.block.service.stats' }, {
            'entity' : 'App:Brand',
            'repository_method' : 'findAll',
            'title' : 'Assigment',
            'css_class' : 'bg-gray-active',
            'icon' : 'fa-users'
        }) }}

        <div id="cms-block-9999" class="cms-block cms-block-element col-md-3">
            <div class="small-box bg-black">
                <div class="inner">
                    <h3>8002</h3>

                    <p>Assigment Count</p>
                </div>
                <div class="icon">
                    <i class="fa fa-calculator"></i>
                </div>
            </div>
        </div>
    </div>




    <div class="info-box">
        <!-- Apply any bg-* class to to the icon to color it -->
        <span class="info-box-icon bg-red"><i class="fa fa-star-o"></i></span>
        <div class="info-box-content">
            <span class="info-box-text">Likes</span>
            <span class="info-box-number">93,139</span>
        </div><!-- /.info-box-content -->
    </div><!-- /.info-box -->

    <!-- Apply any bg-* class to to the info-box to color it -->
    <div class="info-box bg-red">
        <span class="info-box-icon"><i class="fa fa-comments-o"></i></span>
        <div class="info-box-content">
            <span class="info-box-text">Likes</span>
            <span class="info-box-number">41,410</span>
            <!-- The progress section is optional -->
            <div class="progress">
                <div class="progress-bar" style="width: 70%"></div>
            </div>
            <span class="progress-description">
            70% Increase in 30 Days
          </span>
        </div><!-- /.info-box-content -->
    </div><!-- /.info-box -->




{% endblock %}
{#https://packagist.org/packages/2amigos/yii2-chartjs-widget#}
{#https://github.com/sonata-project/SonataAdminBundle/issues/3377#}
{#https://kunicmarko20.github.io/2017/09/17/Sonata-Admin-Custom-Page.html#}
{#https://gist.github.com/mpclarkson/d5dbd5f4096069a43ef1#}