{# @App/Admin/inner_row_comment.html.twig #}

{# Extend the default template, which provides batch and action cells #}
{#     as well as the valid colspan computation #}
{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}
{% block    field %}
    {#{{ timeDifColor.html.twig }}#}

    {% if object.Timediff  < 15 %}
        <span class="label label-success">
            <strong>
                <i class="fa fa-clock-o" aria-hidden="true"></i>
                {{ object.Timediff }}
            </strong>
        </span>
    {% endif %}
    {% if object.Timediff  >= 15 and object.Timediff  <= 30 %}
        <span class="label label-warning">
            <strong>
                <i class="fa fa-clock-o" aria-hidden="true"></i>
                {{ object.Timediff }}
            </strong>
        </span>
    {% endif %}
    {% if object.Timediff  > 30 %}
        <span class="label label-danger">
            <strong>
                <i class="fa fa-clock-o" aria-hidden="true"></i>
                {{ object.Timediff }}
            </strong>
        </span>
    {% endif %}
{% endblock %}


